.custom-node {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .custom-text {
    font: 12px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
  .tt{
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    background: aqua;
  }