<div *ngIf="node" class="user-view">


    <mat-card class="user-container">
        <mat-card-header>
            <mat-card-title>User Profile</mat-card-title>
        </mat-card-header>
        <div class="user-details">
            <span>Name</span>
            <span>{{node.name}}</span>
        </div>
        <div class="user-details">
            <span>Department</span>
            <span>{{node.department}}</span>
        </div>
        <div class="user-details">
            <span>Designation</span>
            <span>{{node.designation}}</span>
        </div>
        <div class="user-details">
            <span>Sub</span>
            <span>{{node.children?.length}}</span>
        </div>
        <mat-card-actions align="start">
            <button routerLink="/home"><mat-icon>arrow_back</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>