/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bars rect {
    fill: steelblue;
  }
  
  .bars rect:hover {
    fill: orange;
  }
  
  .labels text {
    text-anchor: end;
  }
  
.node {
    fill: steelblue;
    stroke: none;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
  